.btn-nav {
    background-color: #016867;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 6px;
    transition: all 0.3s ease;
    padding: 8px 16px;
    width: 180px;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}

.btn-nav:hover:not(.disabled) {
    background-color: #012e2d;
    color: #ffffff;
}

/* Estado ativo/disabled */
.btn-nav.active,
.btn-nav.disabled {
    background-color: #ffffff;
    color: #07b4b1;
    border-color: #ffffff;
    font-weight: bold;
    pointer-events: none;
    opacity: 0.8;
}

.nav-container .dropdown-menu {
    background-color: #f0fffd;
    border: 2px solid #8da5a1;
    border-radius: 6px;
    width: 180px;
    overflow: hidden;
    padding: 0;
}

.nav-container .dropdown-item {
    color: #333;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
}

.nav-container .dropdown-item:last-child {
    border-bottom: none;
}

.nav-container .dropdown-item:hover {
    background-color: #016867;
    color: #ffffff;
}

.nav-container .dropdown-item.active {
    background-color: #07b4b1;
    color: #ffffff;
    font-weight: bold;
}

.nav-container .dropdown-toggle.btn-nav.show {
    background-color: #012e2d;
    color: #ffffff;
}

.nav-container .dropdown-toggle:focus {
    background-color: #016867;
    color: #ffffff;
}

.margens{
    margin-top: -80px;
    margin-left: 150px;
}

/* Botão sobre */
.btn-icon {
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important; /* Deixa redondo */
    font-family: "Times New Roman", serif; /* Fonte limpa */
    font-size: 1rem;
    font-style: italic;
    margin-top: 10px;
}