{% extends 'base.html' %}

{% block content %}
    <h1>Gerenciar Usuários</h1>

    <!-- Formulário de Pesquisa -->
    <form method="GET" action="{{ url_for('admin_usuarios') }}">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Buscar por nome ou email">
        <button type="submit">Buscar</button>
    </form>
    
    <!-- Usuários Ativos -->
    <h2>Usuários Ativos</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios_ativos %}
                <tr>
                    <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
                    <td>{{ user[2] }}</td>  <!-- Email do usuário -->
                    <td>
                        <!-- Formulário para desativar o usuário -->
                        <form method="POST" action="{{ url_for('inativar_usuario', user_id=user[0]) }}">
                            <button type="submit">Desativar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Usuários Pendentes -->
    <h2>Usuários Pendentes</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios_pendentes %}
                <tr>
                    <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
                    <td>{{ user[2] }}</td>  <!-- Email do usuário -->
                    <td>
                        <!-- Formulário para ativar o usuário -->
                        <form method="POST" action="{{ url_for('aprovar_usuario', user_id=user[0]) }}">
                            <button type="submit">Ativar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Usuários Desativados -->
    <h2>Usuários Desativados</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios_desativados %}
                <tr>
                    <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
                    <td>{{ user[2] }}</td>  <!-- Email do usuário -->
                    <td>
                        <!-- Formulário para reativar o usuário -->
                        <form method="POST" action="{{ url_for('aprovar_usuario', user_id=user[0]) }}">
                            <button type="submit">Reativar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
