{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <!-- <h2>Olá, {{ session['user_name'] }}! {% if session['is_admin'] %}<span class="badge bg-danger">Admin</span>{% endif %}</h2> -->

    <div class="card align-items-center mt-4">
        <div class="card-body">
            <h5 class="card-title text-center mb-5">Upload file para o AlphaFold</h5>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="file">Escolha um arquivo JSON:</label>
                <input type="file" name="file" accept=".json" required>
                <input type="submit" value="Upload">
            </form>            
        </div>
    </div>

    <h3 class="mt-5">Seus uploads</h3>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Status</th>
                <th>Data</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload['file_name'] }}</td>
                <td>{{ upload['status'] }}</td>
                <td>{{ upload['created_at'] }}</td>
                <td>
                    {% if upload['status'] == 'COMPLETO' %}
                        <a href="{{ url_for('download_result', base_name=upload['base_name']) }}" class="btn btn-sm btn-success">Download</a>
                    {% else %}
                        <span class="text-muted">Aguardando</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}