{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="container top-spacing-reduced">
    <div class="card align-items-center mt-4">
        <div class="card-body mb-0">
            <div class="title-container">
                <h3 class="page-title">
                  <span class="title-highlight">Upload para o Alphafold</span>
                </h3>
            </div>            
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form-container">
                    <div class="column">
                        <label class="title-sub" for="file">Escolha um arquivo JSON:</label>
                        <button type="button" class="button" onclick="document.getElementById('file-input').click()">Selecionar Arquivo</button>
                        <input type="file" id="file-input" name="file" accept=".json" required>
                    </div>
                    <div class="column">
                        <input class="title-sub" type="text" id="filename" name="filename" 
                        readonly placeholder="Nenhum arquivo selecionado">
                        <input type="submit" class="button" value="Upload">
                    </div>
                </div>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages mt-3 mb-0 w-100">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}            
        </div>
    </div>

    <h3 class="mt-5">Seus uploads</h3>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Status</th>
                <th>Data</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for upload in uploads %}
            <tr>
                <td>{{ upload['file_name'] }}</td>
                <td>{{ upload['status'] }}</td>
                <td>{{ upload['created_at'] }}</td>
                <td>
                    {% if upload['status'] == 'COMPLETO' %}
                        <a href="{{ url_for('download_result', base_name=upload['base_name']) }}" class="btn btn-sm btn-success">Download</a>
                    {% elif  upload['status'] == 'ERRO' %}
                        <span class="text-muted"></span>
                    {% else %}
                        <span class="text-muted">Aguardando</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}