{% extends 'base_usuarios.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success text-center">
                    <h3><i class="fa fa-envelope"></i> E-mail Enviado!</h3>
                    <p>Por favor, verifique a sua caixa de entrada para confirmar o seu e-mail.</p>
                    <p class="mb-0">Se você não encontrar o e-mail, verifique a pasta de spam.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
