{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<div class="title-container top-spacing-reduced">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo CQMED" style="width: 200px; height: 50px;">
  <h2 class="page-title">
    <span class="title-highlight">Alphafold</span>
  </h2>
</div>   

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="login-container">
          <h4 class="login-title">
            <span class="login-highlight">Login</span>
          </h4>
      </div> 
      <form method="POST" action="{{ url_for('aut.login') }}">
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-light w-100">Entrar</button>
        <p class="mt-3 text-center">Não tem uma conta? <a href="{{ url_for('aut.termos_de_uso') }}">Cadastre-se</a></p>
        <p class="mt-2 text-center"><a href="{{ url_for('aut.esqueci_senha') }}">Esqueceu sua senha?</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}