
<div class="nav-container d-flex justify-content-start gap-3 mb-4 flex-wrap pt-3 pb-2 margens" style="z-index: 10;">
   <!-- Dropdown 1: Dashboard / Json Builder -->
   <div class="dropdown">
       <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenuDashboard" data-bs-toggle="dropdown" aria-expanded="false">
           Dashboard
       </button>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuDashboard">
           <li>
               <a href="{{ url_for('dashboard') }}" 
                  class="dropdown-item {% if active_page == 'dashboard' %}active{% endif %}">
                   Dashboard
               </a>
           </li>
           <li>
               <a href="{{ url_for('builder_json_form') }}" 
                  class="dropdown-item {% if active_page == 'json_builder' %}active{% endif %}">
                   Json Builder
               </a>
           </li>
       </ul>
   </div>  
    <!-- Dropdown 2: Admin -->
    {% if session.get('is_admin') %}
        <div class="dropdown">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenuUsuarios" data-bs-toggle="dropdown" aria-expanded="false">
                Administração
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuUsuarios">
                <li>
                    <a href="{{ url_for('usuarios_ativos') }}" 
                        class="dropdown-item {% if active_page == 'ativos' %}active{% endif %}">
                        Usuários Ativos
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarios_pendentes') }}" 
                        class="dropdown-item {% if active_page == 'pendentes' %}active{% endif %}">
                        Usuários Pendentes
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('usuarios_desativados') }}" 
                        class="dropdown-item {% if active_page == 'desativados' %}active{% endif %}">
                        Usuários Desativados
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('view_logs') }}" 
                        class="dropdown-item {% if active_page == 'desativados' %}active{% endif %}">
                        Visualizar Logs
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
    <a href="{{ url_for('sobre') }}" class="btn btn-icon btn-nav {% if active_page == 'sobre' %}active{% endif %}" title="Sobre">
        i
        <i class="bi bi-info-circle"></i>
   </a>
</div>