
{% extends 'base_usuarios.html' %}
<h1 class="text-center my-4">Usuários Desativados</h1>
{% block tabela_usuarios %}
    {% for user in usuarios_desativados %}
    <tr>
        <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
        <td>{{ user[2] }}</td>  <!-- Email do usuário -->
        <td class="text-center">
            <!-- Formulário para reativar o usuário -->
            <form method="POST" action="{{ url_for('admins.aprovar_usuario', user_id=user[0]) }}">
                <button type="submit" class="btn-sm btn-uniform">Reativar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
