{% extends 'base_usuarios.html' %}

{% block tabela_usuarios %}
    {% for user in usuarios_ativos %}
    <tr>
        <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
        <td>{{ user[2] }}</td>  <!-- Email do usuário -->
        <td class="text-center">
            <!-- Formulário para desativar o usuário -->
            <form method="POST" action="{{ url_for('inativar_usuario', user_id=user[0]) }}">
                <button type="submit">Desativar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
