{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center my-4">Usuários Desativados</h1>

    <!-- Formulário de Pesquisa -->
    <form method="GET" action="{{ url_for('admin_usuarios') }}" class="mb-4">
        <div class="input-group">
            <input type="text" class="form-control search-box" name="search" value="{{ search_query }}" placeholder="Buscar por nome ou email">
            <button class="btn search-btn" type="submit">Buscar</button>
        </div>
    </form>  
    
    <!-- Usuários Desativados -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios_desativados %}
                    <tr>
                        <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
                        <td>{{ user[2] }}</td>  <!-- Email do usuário -->
                        <td class="text-center">
                            <!-- Formulário para reativar o usuário -->
                            <form method="POST" action="{{ url_for('aprovar_usuario', user_id=user[0]) }}">
                                <button type="submit">Reativar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
