{% extends 'base.html' %}

{% block content %}

    {% if session['is_admin'] %}
    <div class="d-flex gap-2 mb-3">
        <a href="{{ url_for('dashboard') }}" class="btn btn-primary flex-fill">Dashboard</a>
        <a href="{{ url_for('usuarios_ativos') }}" class="btn btn-primary flex-fill">Usuários Ativos</a>
        <a href="{{ url_for('usuarios_desativados') }}" class="btn btn-primary flex-fill">Usuários Desativados</a>
    </div>
    {% endif %}

    <h1>Usuários Pendentes</h1>

    <!-- Formulário de Pesquisa -->
    <form method="GET" action="{{ url_for('admin_usuarios') }}">
        <input type="text" name="search" value="{{ search_query }}" placeholder="Buscar por nome ou email">
        <button type="submit">Buscar</button>
    </form>
    
    <!-- Usuários Pendentes -->
    <h2>Usuários Pendentes</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios_pendentes %}
                <tr>
                    <td>{{ user[1] }}</td>  <!-- Nome do usuário -->
                    <td>{{ user[2] }}</td>  <!-- Email do usuário -->
                    <td>
                        <!-- Formulário para ativar o usuário -->
                        <form method="POST" action="{{ url_for('aprovar_usuario', user_id=user[0]) }}">
                            <button type="submit">Ativar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
